
.main_content {
    padding: 10px;
  
    &-title {
      box-shadow: none;
      font-size: 20px;
      font-weight: 300;
      color: #3f51b5;
      margin-bottom: 15px;
    }
  
    &-tap {
      padding-top: 40px;
    }
  
    &-form {
      margin-top: 40px;
      // border: 1px solid;
      display: flex;
      
    }
  }
  
  .label {
    font-weight: 300;
    color: #6d6d6d;
    font-size: 15px;
  }
  
  div.mat-form-field-infix { padding: 0 3px 10px 3px !important }
  .mat-form-field-outline:hover  { border: 2px solid red;}
  .example-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 25px;
  }
  
  .mat-tab-header { 
    background-color: #e4e4e4;
    box-shadow: 0 0 10px #c0c0c0;
  }
  
  div.mat-ink-bar {
    background-color: red;
  }
  