<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <span class="toolbar_logo">POS</span>
    <div class="toolbar_direction">
      <button mat-button>Products</button>
      <span> / </span>
      <button mat-button>New Product</button>
    </div>

    <span class="example-spacer"></span>

    <div class="toolbar_content">
      <!-- time -->
      <button mat-button>04:13 am 24-10-2020</button>

      <!-- language button -->
      <button class="toolbar_lang" mat-button [matMenuTriggerFor]="menu">
        <img class="toolbar_flag" src="https://demo.phppointofsale.com/assets/assets/images/flags/english.png"
          alt="flag">
        <span>English</span>
        <mat-icon class="toolbar_lang-icon">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <!-- notification button -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon matBadge="10" matBadgeColor="warn">notification_important
        </mat-icon>
        <span class="cdk-visually-hidden">
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu">
        <img class="toolbar_img" src="https://demo.phppointofsale.com/assets/assets/images/avatar-default.jpg" alt="">
        <span>John Doe</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" mode="side" opened>

    <mat-nav-list class="sidenav_list">
      <a mat-list-item class="sidenav_item sidenav_item-1">
        <mat-icon aria-hidden="false" class="sidenav_icon">shopping_cart</mat-icon>
        Products
      </a>
      <a mat-list-item class="sidenav_item sidenav_item-2">
        <mat-icon aria-hidden="false" class="sidenav_icon">style</mat-icon>
        Categories
      </a>
      <a mat-list-item class="sidenav_item sidenav_item-3">
        <mat-icon aria-hidden="false" class="sidenav_icon">bookmark</mat-icon>
        Brands
      </a>
      <a mat-list-item class="sidenav_item sidenav_item-4">
        <mat-icon aria-hidden="false" class="sidenav_icon">layers</mat-icon>
        Items
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="main_content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>