<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <span class="toolbar_logo">POS</span>
    <span class="example-spacer"></span>
    <div class="toolbar_content">
      <!-- time -->
      <button mat-button>04:13 am 24-10-2020</button>

      <!-- language button -->
      <button class="toolbar_lang" mat-button [matMenuTriggerFor]="menu">
        <img class="toolbar_flag" src="https://demo.phppointofsale.com/assets/assets/images/flags/english.png"
          alt="flag">
        <span>English</span>
        <mat-icon class="toolbar_lang-icon">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <!-- notification button -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon matBadge="10" matBadgeColor="warn">notification_important
        </mat-icon>
        <span class="cdk-visually-hidden">
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu">
        <img class="toolbar_img" src="https://demo.phppointofsale.com/assets/assets/images/avatar-default.jpg" alt="">
        <span>John Doe</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-accordion class="sidenav_list">
      <mat-expansion-panel style="box-shadow: none;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="sidenav_item sidenav_item-1">
          <mat-panel-title>
            <mat-icon style="margin-right: 20px;" aria-hidden="false">shopping_cart</mat-icon>
            <span>Product </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a routerLink="/products" [queryParams]="{ page: 1, order: 'newest' }" mat-list-item style="height: 40px;">
            <mat-icon style="font-size: 8px; height: 8px; width: 15px; margin-left: 23px; color: rgba(0,0,0,.54);">
              fiber_manual_record
            </mat-icon>
            <span style="font-size: 14px; color: rgba(0,0,0,.54);">Product List</span>
          </a>
          <a routerLink="/product-create" mat-list-item style="height: 40px;">
            <mat-icon style="font-size: 8px; height: 8px; width: 15px; margin-left: 23px; color: rgba(0,0,0,.54);">
              fiber_manual_record
            </mat-icon>
            <span style="font-size: 14px; color: rgba(0,0,0,.54);">Add Product</span>
          </a>
          <a mat-list-item style="height: 40px;">
            <mat-icon style="font-size: 8px; height: 8px; width: 15px; margin-left: 23px; color: rgba(0,0,0,.54);">
              fiber_manual_record
            </mat-icon>
            <span style="font-size: 14px; color: rgba(0,0,0,.54);">Categories</span>
          </a>

          <a mat-list-item style="height: 40px;">
            <mat-icon style="font-size: 8px; height: 8px; width: 15px; margin-left: 23px; color: rgba(0,0,0,.54);">
              fiber_manual_record
            </mat-icon>
            <span style="font-size: 14px; color: rgba(0,0,0,.54);">Items</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content class="main_content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>